---
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ site.site_title }}</title>

		<link rel="stylesheet" href="/css/style.css">
		<link rel="shortcut icon" href="/favicon.ico">

		<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script><![endif]-->
	</head>
	<body>
		<header>
			<h1>{{ site.site_title }}</h1>
		</header>

		<section>
			<article class="information">
				<section>
					<p>This list is mainly used as community-contributed source for Steam Database's <a href="http://steamdb.info/linux/">linux list</a>.</p>
					<p>Visit <a href="http://steamcommunity.com/groups/steamlug">Linux User Group</a> on Steam for discussions related to Steam on Linux.</p>
					<p>If you want to contribute to this list, check out <a href="https://github.com/SteamDatabase/SteamLinux">GitHub</a>.
				</section>
			</article>

			{{ content }}
		</section>

		<footer>
			Last updated: <time>{{ site.time }}</time><br>
			&copy; 2013, <a href="https://github.com/SteamDatabase/SteamLinux/graphs/contributors">SteamLinux repository contributors</a>.
			<span>Sources used: <a href="http://store.steampowered.com/browse/linux/">Steam Store</a> and <a href="http://steamdb.info/linux/">Steam Database</a></span>
		</footer>
	</body>
</html>
